# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyBuilder
target/

# dotenv
.env

# virtualenv
venv/
ENV/

# File-based project format:
*.iws
*.iml
/out/
.idea

